<div>
    <h4 class="title is-4 has-text-centered">Auto suggest with Debounce Time <span class="select is-small">
            <select [(ngModel)]="debounceTime" (change)="onDebounceChange()">
                <option value="100">100</option>
                <option value="250">250</option>
                <option value="500">500</option>
                <option value="1000">1000</option>
            </select>
        </span> ms</h4>


    <app-auto-suggest [usersIn]="users" (search)="subject.next($event)"></app-auto-suggest>
</div>